---
layout: default
nav-order: 1
title: Overview
class: overview
category:
banner-img: banner-default.jpg
---


{% include banner.html %}


<section>

  <div class="row row--padding align-center">
    <h2>Golfing in France</h2>
    <p> 
      Golfers visiting France will often be drawn to the star attractions like Mont St-Michel in Normandy or Cannes on the French Riviera, but France is also blessed with some of the finest golf resorts in Europe. French golf resorts come with considerable international tournament pedigree, in two years’ time, France plays host to one of the biggest sporting team events in the world when it welcomes <strong>The Ryder Cup</strong> to Le Golf National in Paris.
    </p>
    <p>
      Whether you are drawn to luxury and a jet-set lifestyle, or maybe the calmer, hidden gems of the Dordogne Valley. We have selected a range of French golf breaks for all preferences, experience levels and budgets. These breaks from Brittany Ferries Golf include return sailings from Portsmouth, Poole or Plymouth with car and kit, golf and hotels.
    </p>
    <a class="btn" href="http://uk.france.fr/en/golf-france-2016?utm_source=SecretEscape&utm_medium=MinisiteExt&utm_term=Golf&utm_campaign=Golf2016" target="_blank">Find out more</a>
  </div>

</section>

<section>

  <div class="row row--padding">

    {% assign categories = site.data.categories %}

    {% for category-array in categories %}
    {% assign category = category-array[1] %}
      <a href="{{ site.baseurl }}/offers#{{ category.class }}" class="category"
        style="background-image: url({{ site.baseurl }}/img/bg/category_bg-{{category.class}}.jpg);">
        <div class="category__badge">
          <h3>
            <img class="category__badge-icon" src="{{site.baseurl}}/img/content/icon-{{category.class}}.png" width="80" />
            {{ category.title | downcase }}
          </h3>
        </div>
      </a>
    {% endfor %}

  </div>

  <div class="row row--padding align-center">
    <a class="btn" href="{{ site.baseurl }}/offers">View all offers</a></a>
  </div>

</section>


{% include france-banner.html %}
