---
layout: default
title: Offers
class: offers
nav-order: 3
---

<section class="section--fixed-bg intro">
  <div class="row row--padding">
    <h1>{{ page.title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolorum ad quasi itaque assumenda cum eos voluptatibus quidem labore hic, quisquam aliquam architecto explicabo tenetur officiis, laborum quas laudantium aspernatur!</p>
  </div>
</section>

<section class="offers">
  <div class="row row--padding">
    {% assign offers = site.offers %}
    {% for offer in offers %}
        {% include offer-block.html %}
    {% endfor %}
  </div>
</section>

