---
layout: default
title: Offers
class: offers
nav-order: 3
permalink: /offers/
---


{% include banner.html %}


<section>

  <div class="row row--padding align-center">
    <p class="lead"> 
      Whether you are looking to experience golf at the foothills of Europe’s widest stratovolcano, tee it up amid the rolling hills and valleys, or play on the Atlantic coast, France has a wealth of golf courses that offer a unique experience throughout the year, without breaking the bank. These breaks from Brittany Ferries Golf include return sailings from Portsmouth/Poole or Plymouth with car and kit, golf and hotels.
    </p>
  </div>

</section>


{% assign categories = site.data.categories %}

{% for category-array in categories %}
{% assign category = category-array[1] %}

  <section
    class="section--fixed-bg parallax" data-parallax-speed="0.2" id="{{ category.class }}"
    style="background-image: url({{site.baseurl}}/img/bg/banner-{{ category.class }}.jpg);">

    <div class="row row--padding offer-category">

      <div class="offer-category__column offer-category__intro text-wh">
        <img class="offer-category__intro-icon" src="{{site.baseurl}}/img/content/icon_lrg-{{category.class}}.png" width="150" />
        <h2>{{ category.title }}</h2>
        <p>{{ category.description }}</p>
      </div>

      {% for offer in category.offers %}
        {% include offer-block.html %}
      {% endfor %}

    </div>

  </section>

{% endfor %}


{% include france-banner.html %}
