<section id="france_banner" class="section-bg">
  <div class="row row--padding text-wh">

    <img class="france_banner-logo" src="{{ site.baseurl }}/img/logo/logo-france.png" alt="France" width="200">
    <p class="lead">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum.</p>
    <a class="btn" href="#" target="_blank">Find out more</a>

  </div>
</section>
