<section id="france_banner" class="section-bg">
  <div class="row row--padding text-wh">

    <img class="france_banner-logo" src="{{ site.baseurl }}/img/logo/logo-france.png" alt="France" width="200">
    <p class="lead">Golf is a permanent invitation to discover the assets of a destination.</p>
    <p>
      Did you know that the oldest golf course in continental Europe is situated in Pau? France boasts more than 500 golf courses, each with its own specific features according to its environment and history. Perfect for a short weekend break or a longer getaway, with friends, family or loved ones, you will find the perfect course for all expectations!
    </p>
    <a class="btn" href="http://uk.france.fr/en/golf-france-2016?utm_source=SecretEscape&utm_medium=MinisiteExt&utm_term=Golf&utm_campaign=Golf2016" target="_blank">Find out more</a>

  </div>
</section>
