<div class="row row--columns-6-6 offer">
  <div class="row__column offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.class }}" href="{{ offer.url }}"></a>
  </div>
  <div class="row__column offer__content">
    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.url }}">{{ offer.title }}</a></h2>
    <h3 class="h4 offer__content-subtitle">{{ offer.location }}</h3>
    <p>{{ offer.description }}</p>
    <p>From <span class="offer__content-price">£{{ offer.price }}</span> {{ offer.price-description }}</p>
    <a id="button-link-{{ offer.class }}" href="{{ offer.url }}" class="btn">View Offer</a>
  </div>
</div>