<div class="site-header__partners">

  <a href="http://uk.france.fr/en/golf-france-2016?utm_source=SecretEscape&utm_medium=MinisiteExt&utm_term=Golf&utm_campaign=Golf2016" target="_blank">
    <img class="site-header__logo--partner" src="{{ site.baseurl }}/img/logo/logo-france.png" alt="France">
  </a>

  <a href="http://www.brittany-ferries.co.uk/golf/france/" target="_blank">
    <img class="site-header__logo--partner brittanyferries" src="{{ site.baseurl }}/img/logo/logo-brittanyferries.png" alt="Brittany Ferries">
  </a>

</div>
