// site header and navigation styles


// -------- Main navigation ( core site style ) --------

.site-header {
  color: $white;
  font-family: $core-font-family;
  background-color: $black;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  @include bp( large ) {
    text-align: left;
  }
}

.site-header__nav {
  position: fixed;
  top: 0;
  left: -75%;
  z-index: $z-overlay-upper;
  width: 75%;
  height: 100%;
  background-color: $se-dark-grey-85;
  transition: left $transition-time ease;
  text-align: left;
  @include bp( large ) {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 1em;
    background-color: transparent;
  }
  @include bp-vertical {
    overflow-y: scroll;
  }
}

.site-header__nav-list {
  border-bottom: 1px solid $black;
  @include bp( large ) {
    border-bottom: 0;
  }
}

.site-header__nav-item {
  border-top: 1px solid $black;
  @include bp( large ) {
    display: inline-block;
    padding-right: 1em;
    border-top: 0;
  }
}

.site-header__nav-link {
  @include transition;
  display: block;
  padding: .694em 1em;
  color: $se-light-grey;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    color: $se-orange;
    background-color: $se-dark-grey-85;
    text-decoration: none;
  }
  &--current { color: $se-orange; }
  @include bp( large ) {
    padding: 0;
    font-size: .833em;
    &:hover { background-color: transparent; }
  }
}

.site-header__logo {
  width: 146px;
  @include bp( medium ) {
    width: 220px;
  }
}

.site-header__partners {
  float: right;
}

.site-header__logo--partner {
  display: none;
  @include bp( large ) {
    float: left;
    display: block;
    width: 140px;
  }
}
.site-header__logo--partner.brittanyferries {
  width: 155px; margin-left: 15px;
}


// -------- Mobile navigation --------

$icon-height: 20px;
.mobile-icon {
  height: $icon-height;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 20px;
  cursor: pointer;
  @include bp( large ) {
    display: none;
  }
}

.mobile-icon__menu {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -( $icon-height / 2 );
  background-image: url( "../img/icon/menu.png" );
  .svg & { background-image: url( "../img/icon/menu.svg" ); }
  &--open { display: none; }
}

.mobile-icon__close {
  margin: 1em;
  margin-top: 1.5em;
  background-image: url( "../img/icon/close.png" );
  .svg & { background-image: url( "../img/icon/close.svg" ); }
}

.mobile-menu--open { left: 0; }

.mobile-menu__logo {
  position: absolute;
  bottom: 0;
  width:100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $black-5;
  text-align: center;
  @include bp( large ) {
    display: none;
  }
  @include bp-vertical {
    position: static;
  }
  img {
    display: inline;
    width: 150px;
    vertical-align: middle;
    padding-top: .833em;
    padding-bottom: .833em;
    @include bp( large ) {
      display: none;
    }
  }
}

// -------- Microsite navigation --------

.microsite-nav__holder {
  overflow: hidden;
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  z-index: 100;
  background-color: $cream;
  position: absolute;
  bottom: 0;
}
.microsite-nav__holder.stuck {
  position: fixed; bottom: auto; top: 0;
}

.microsite-nav {
  position: relative;
  z-index: $z-overlay;
  text-align: center;
  overflow: hidden;
}

.microsite-nav__list {
  text-align: center;
  white-space: nowrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;

  @include bp( xxlarge ) {
    display: inline-block;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    overflow: visible;
  }
}

.microsite-nav__item {
  @include transition;
  display: inline-block;
  text-align: center;
  color: $light-charcoal;
  flex-grow: 1;
  &--current {
    color: $charcoal;
  }
}

.microsite-nav__link {
  transition: background-color $transition-time ease;
  display: block;
  padding: 1.6em 0.8em;
  font-size: 1em;
  letter-spacing: .1em;
  font-family: $title-font-family;

  &:hover {
    text-decoration: none;
  }

}
