
// custom grid system for offers

.offer-category {}

.offer-category__column {
  float: left;
  margin-bottom: 30px;
  @include bp( large ) {
    width: 49%;
    margin-left: 1%;
    min-height: 320px;
  }
  @include bp( xlarge ) {
    width: 32%; margin-left: 2%;
  }
}
.offer-category__column:nth-child(2n+2) { margin-left: 0; }
@include bp( xlarge ) {
  .offer-category__column:nth-child(2n+2) { margin-left: 2%; }
  .offer-category__column:nth-child(3n+3) {
    margin-left: 0;
  }
}

.offer-category__column.offer-category__intro {
  padding: 20px 30px; margin-left: 0; width: 100%; overflow-x: scroll;
  background-color: rgba(0,0,0,0.7); border: 1px solid rgba(255,255,255,0.15);
  @include bp( xlarge ) {
    width: 66%;
  }
}

.offer-category__intro-icon {
  position: absolute; top: -30px; left: -10px;
}

// styles for the offer blocks that appear on the terrain pages


.offer {
  background-color: $white;
  position: relative;
  padding-bottom: 34px;
  .row__column{
    margin-top: 0;
  }
}

.offer__image {
  position: relative;
  overflow: hidden;
}

.offer__image-link {}

.offer__image img {
  float: left;
}

.offer__content {
  padding: ($margin / 2);
  p + p { margin-top: .2em; }
}

.offer__content-title {
  margin-bottom: 0.2em;
  font-size: 1.6em;
  line-height: 1;
}

.offer__content-subtitle {
  margin-bottom: .833em;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.44;
}

.offer__content-price {
  font-weight: bold;
}


.offer__btn {
  position: absolute; bottom: 0;
  width: 100%;
  border-radius: 0;
  margin-top: 0;
  text-align: center; }
